/* Utiliza os estilos globais para o cabeçalho da página */
.page-header {
  margin-bottom: 30px;
}

.page-header h1 {
  margin: 0 0 5px 0;
  font-size: 2rem;
}

.page-header p {
  margin: 0;
  color: var(--cor-texto-secundario);
  font-size: 1rem;
}

/* Container principal do formulário, estilizado como um grande cartão */
.novo-pedido-view {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  background-color: #fff;
  padding: 40px;
  border-radius: var(--border-radius);
  box-shadow: var(--sombra-card);
  border: 1px solid var(--cor-borda);
}

/* Coluna da esquerda (Cardápio) */
.cardapio-coluna {
  border-right: 1px solid var(--cor-borda);
  padding-right: 40px;
  display: flex;
  flex-direction: column;
}

.cardapio-coluna h4, .pedido-coluna h4 {
  font-size: 1.3rem;
  margin-top: 0;
  margin-bottom: 20px;
}

/* Filtros do Cardápio */
.filtros-cardapio {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}

.btn-filtro {
  padding: 8px 18px;
  border: 1px solid var(--cor-borda);
  border-radius: 20px;
  background-color: #fff;
  cursor: pointer;
  font-weight: 500;
  transition: all 0.2s;
}

.btn-filtro:hover {
  background-color: var(--cor-fundo);
  border-color: #a0aec0;
}

.btn-filtro.active {
  background-color: var(--cor-texto-principal);
  color: white;
  border-color: var(--cor-texto-principal);
}

.lista-produtos-cardapio {
  max-height: 400px;
  overflow-y: auto;
}

.item-cardapio {
  padding: 12px;
  cursor: pointer;
  border-radius: var(--border-radius);
  font-weight: 500;
}

.item-cardapio:hover {
  background-color: var(--cor-fundo);
}

/* Coluna da direita (Pedido Atual) */
.item-pedido-atual {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid var(--cor-borda);
}

.total-pedido {
  text-align: right;
  font-size: 1.3rem;
  font-weight: 600;
  margin-top: 20px;
}

.btn-finalizar-pedido {
  width: 100%;
  margin-top: 25px;
}

.btn-finalizar-pedido {
  background-color: var(--cor-sucesso);
  color: white;
  box-shadow: 0 4px 10px rgba(40, 167, 69, 0.2);
  transition: background-color 0.2s, box-shadow 0.2s;
  border: none;
  border-radius: var(--border-radius);
  padding: 12px;
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;

}


.form-group {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column; 
  gap: 10px;
  border-radius: var(--border-radius);
  background-color: var(--cor-fundo);
  padding: 20px;
  box-shadow: var(--sombra-card);
  border: 1px solid var(--cor-borda);
  box-sizing: border-box;

}

.form-group input{
  width: 100%;
  padding: 9px;
  border: 1px solid var(--cor-borda);
  border-radius: var(--border-radius);
  box-sizing: border-box;
  font-size: 1rem;
  font-family: 'Inter', sans-serif;
  transition: border-color 0.2s, box-shadow 0.2s;
}
