<div class="main-container">
  <aside class="sidebar">
    <div class="sidebar-header">
  <img src="assets/images/icone2.png" alt="Logo" class="logo-icon" />
  <!-- Agrupamos o texto para melhor alinhamento -->
  <div class="header-title">
    <h3>Sampaiollo</h3>
    <span>LTDA</span>
  </div>
</div>
    <nav class="sidebar-nav">
      <a routerLink="/app/pedidos" routerLinkActive="active"><i class="fas fa-box"></i> Pedidos</a>
      <a routerLink="/app/cardapio" routerLinkActive="active"><i class="fas fa-utensils"></i> Cardápio</a>
      <a routerLink="/app/entregas" routerLinkActive="active"><i class="fas fa-truck"></i> Entrega</a>
      <a routerLink="/app/funcionarios" routerLinkActive="active"><i class="fas fa-users-cog"></i>Funcionários</a>
      <a routerLink="/app/mesas" routerLinkActive="active"><i class="fas fa-chair"></i>Mesas</a>
      <a routerLink="/app/balcao" routerLinkActive="active"><i class="fas fa-cash-register"></i> Balcão</a>
        <a routerLink="/app/cadastro-produto" routerLinkActive="active">
    <i>[]</i> Cadastro de Produto
  </a>
  <a routerLink="/app/cadastro-cliente" routerLinkActive="active">
    <i>[]</i>Clientes
  </a>

    </nav>
    <div class="sidebar-bottom">
      <div class="sidebar-actions">
        <button class="btn-fechar-caixa" (click)="fecharCaixa()">Fechar Caixa</button>
      </div>
      <div class="sidebar-footer">
        <a (click)="logout()"><i class="fas fa-sign-out-alt"></i> Sair</a>
      </div>
    </div>
  </aside>

  <main class="content-area">
    <router-outlet></router-outlet>
  </main>
</div>
